<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://newschedule.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>newschedule.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>newschedule</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$newschedule</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultIdentityConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:nqhpq28ffe.database.windows.net,1433;Initial Catalog=shiponline;Integrated Security=False;User ID=shortsea@nqhpq28ffe;Password=chainlab2005!;Connect Timeout=30;Encrypt=True" Name="Data Source=tcp:nqhpq28ffe.database.windows.net,1433;Initial Catalog=shiponline;Integrated Security=False;User ID=shortsea@nqhpq28ffe;Password=chainlab2005!;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:nqhpq28ffe.database.windows.net,1433;Initial Catalog=shiponline;Integrated Security=False;User ID=shortsea@nqhpq28ffe;Password=chainlab2005!;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultIdentityConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:nqhpq28ffe.database.windows.net,1433;Database=shiponline;User ID=shortsea@nqhpq28ffe;Password=chainlab2005!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:nqhpq28ffe.database.windows.net,1433;Initial Catalog=shiponline;Integrated Security=False;User ID=shortsea@nqhpq28ffe;Password=chainlab2005!;Connect Timeout=30;Encrypt=True" Name="Data Source=tcp:nqhpq28ffe.database.windows.net,1433;Initial Catalog=shiponline;Integrated Security=False;User ID=shortsea@nqhpq28ffe;Password=chainlab2005!;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;Initial Catalog=SampleSite-2-1-alpha1;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=SampleSite-2-1-alpha1;Integrated Security=SSPI" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nqhpq28ffe.database.windows.net,1433;Initial Catalog=shiponline;Integrated Security=False;User ID=shortsea@nqhpq28ffe;Password=chainlab2005!;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultIdentityConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nqhpq28ffe.database.windows.net,1433;Initial Catalog=shiponline;Integrated Security=False;User ID=shortsea@nqhpq28ffe;Password=chainlab2005!;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>